.container {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.movie-card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    transition: box-shadow 0.3s ease; // Gölge efekti için geçiş ekleniyor

    &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); // Kartın üstüne gelindiğinde gölge arttırılıyor
        cursor: pointer;
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        border-bottom: 1px solid #ddd;
        object-fit: cover;
    }

    .movie-details {
        padding: 10px;
        text-align: center;

        h3 {
            margin: 0;
        }

        p {
            margin: 5px 0;
            color: #888;
        }
    }
}

.pagination {
    margin: 10px auto;
}